body{
    font-family: 'Outfit', sans-serif; 
}

h1{
    font-size: 50px;

}
span{
    color: violet;
   }
   .halfwidth{
    width: 40%;
       float: left;
       margin-left: 55;
       padding-left: 2%;
    
   }
   .halfwidth img{
       width: 100%;
   }
   .irsthalff{
    background-image: url(folder/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
section{
    height: 500px;
    padding-bottom: 100px;
    border: 10px solid white;
}
.biography{
    background-image: url(folder/biography-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

}
.latest{
    position: relative;
    float: left;
    width: 300px;
    min-height: 22px;
   
    
    text-decoration: none;
    text-align: center;

}
.latest img{
    width: 100%;
}
.late{
    width: 100%;
    background-image: url(folder/latest-work-bg.png);
    background-repeat:  no-repeat;
    background-size: 100%;
}
.lawo{
    text-align: center;
}
.client{
    text-align: center;
    background-image: url(folder/footer-bg.png);
    background-repeat:  no-repeat;
    background-size: 100%;

}
#founder{
    color: dimgray;
}
footer{
    text-align: center;
}
.button{
    text-decoration: none;
    background-image: linear-gradient( 45deg, rgb(223, 95, 144), rgb(126, 67, 92) );
    padding: 10px 20px;
    color: white;
    font-weight: 700;

}
.maill{
    color: white;
    text-decoration: none;
}